body{
	background-color:lightgray;
  text-align: center;
  overflow-y: hidden;
}

.App::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome */
}


.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 850px;
  border: 1px solid white;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  -ms-overflow-style: none;  /* Hides scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

.image {
  width: 120x;
  height: 120px;
  border: 1px solid lightgray;
  border-radius: 50%;
};