@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap');

body{
  font-family: 'Raleway', sans-serif;
	background-color:lightgray;
  text-align: center;
}

.info {
  color: gray;
  font-size: 15px;
  font-weight: 400;
  padding-left: 70px;
}

.scroll-container {
  height: 520px;
  min-height: 520px;
  text-align: left;
}

.scroll-container, .student {
  min-width: 500px;
}

.App {
  min-height: 620px;
  position:relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 850px;
  max-width: 90vw;
  max-height: 90vw;
  height: 620px;
  border: 1px solid rgb(134, 134, 134);
  background-color: white;
  border-radius: 10px;
  min-width: 700px;
}

.scrollbar-track {
  display: none !important; /* !important is used as a last resort to override inline CSS from the smooth-scrollbar-react library */
  opacity: 0;
}

.student {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding-bottom: 11px;
}

img {
  height: 125px;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.image {
  padding-top: 20px;
  padding-left: 24px;
}

.email, .company, .skill, .average {
  padding-bottom: 6px;
}

.search-by-name, .search-by-tag {
  margin-top: 10px;
  margin-left: -10px;
}

input:focus {
  border-bottom: 1px solid black;
}

input:not(:focus) {
  border-bottom: 1px solid lightgray;
}

input {
  max-width: 800px;
  width: 100%;
  border: none;
  outline: none;
  padding-top: 7px;
  padding-bottom: 7px;
  color: gray;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.search {
  margin-left: 20px;
  margin-right: 20px;
}

.plus, .minus {
  font-size: 80px;
  height: 25px;
  color: lightgray;
  transform: translateY(-50%);
}

.details {
  width: 100%;
  max-width: 700px;
  padding-top: 10px;
}

.expand {
  height: 50px;
  margin-top: -15px;
}

.name-expand {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  max-width: 90%;
  margin-right: -60px;
}

button {
  all: unset;
}

.fullname {
  min-width: 85%;
  font-size: 40px;
  font-weight: 800;
  padding-left: 50px;
  padding-bottom: 11px;
}

.scores {
  margin-top: 10px;
}

.score-order {
  margin-right: 25px;
}

.tag {
  color: black;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  height: 25px;
  padding: 5px 10px 0px 10px;
  margin-right: 5px;
  background-color: lightgray;
}