@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

body{
  font-family: 'Raleway', sans-serif;
	background-color:lightgray;
  text-align: center;
}

.App {
  height: 620px;
  text-align: left;
}

.scroll-outer {
  position:relative;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 850px;
  max-width: 90vw;
  max-height: 90vw;
  height: 620px;
  border: 1px solid rgb(134, 134, 134);
  background-color: white;
  border-radius: 10px;
}

.scrollbar-track {
  display: none !important; /* !important is used as a last resort to override inline CSS from the smooth-scrollbar-react library */
  opacity: 0;
}
